# 1 Learning Applied AI Course in Short
- Learning on basis of application first
- then final regressive revision

# Genral python Execise
-watching, reffring and exercising in notebook

In [1]:
#For loop exercise
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [2]:
#Here in for loop "1" is starting point and 20" is range and 2" is step-size here
for a in range(1,20,2):
    print(a)
    
#example2

for b in range(0,20,5):
    print(b)
 
# exaple3 (try it again and Understand :)))

list1 = ["Faizan", "Data Engineer", "Data Scientist", "ML Engineer", "Tech Officer"]
print(len(list1))
for c in range(len(list1)):
    print(list1[c])

1
3
5
7
9
11
13
15
17
19
0
5
10
15
5
Faizan
Data Engineer
Data Scientist
ML Engineer
Tech Officer

In [3]:
#example4 : for loop with else 
for c in range(len(list1)):
    print(list1[c])
else:
    print("-------No more Item available in List1")

Faizan
Data Engineer
Data Scientist
ML Engineer
Tech Officer
-------No more Item available in List1

# #Example5: Natested for loop: :Python Program to display all the prime Number in between two integer

In [4]:
Num1= 10
Num2= 20
print("Prime Number Between {0} and {1} are:  ".format(Num1,Num2))

for num in range(Num1,Num2+1):
    if num>1:
        indicator=False;
        
        
        for i in range(2,num):
            if num%i==0:
                indicator=True;
        if not indicator:    #"iF NOT" SYNTAX IS LOGICAL OPRATOR EVALUATE THE TRUTH VALUE IF EXPRAISSION USED WITH IT IS FALSE 
            print(num);       
            
            
    
    else:
        print("No prime Number found")

Prime Number Between 10 and 20 are:
11
13
17
19

# 2.1Quick RECAP: Datatype in PYTHON

# 1.sets
- Unorderd data struture and Hence i.e:
- cannot be Indexed
- Is Mutable   (can add or remove items)
- Gen used to perform mathmatical operations like: [union, intersection, Symmetric diffrence etc..] ]

- Created using {}   || similar to dict but not have KEY-VALUE-PAIRS

- dosnot ALLOW Duplictae elemnts

In [5]:
#Adding Elemnets to a set 
set1 = {1,2,3,3,5,5,6}
print(set1)
print(len(set1))
print(type(set1))


#-------------

#We can make set from List
set2 = set([1,2,3,"a","b","a"])
print(set2)
print(len(set2))
print(type(set2))

#adding Elements in Set
set2.update({99})
print(set2)

#Adding Multiple Elements

set2.update([200,"Shakeel",499])
print(set2)

{1, 2, 3, 5, 6}
5
<class 'set'>
{1, 2, 3, 'a', 'b'}
5
<class 'set'>
{1, 2, 3, 99, 'a', 'b'}
{1, 2, 3, 99, 200, 'a', 499, 'b', 'Shakeel'}

# Removing elemts from set

In [6]:
#A particular item can be removeed from set using methos,
#discard() and remove()

set2.discard(499)
print(set2)

#or

set2.remove(99)
print(set2)

#we can remove elements using these method as well;
#pop() and clear()

{1, 2, 3, 99, 200, 'a', 'b', 'Shakeel'}
{1, 2, 3, 200, 'a', 'b', 'Shakeel'}